# Quartus
output_files/
db/
simulation/
incremental_db/
**/*.vhd.bak
**/*.qws
devkits/

# Modelsim
work/
transcript
*.cr.mti
**/sim/*.mpf
**/sim/*.wlf
**/sim/*.jou
**/sim/*.log


# mplab
_build/
**/cmake/uart-tb/default/*
out/
**/.vscode/*
!Testbench/AVR/uart-tb/.vscode/uart-tb.mplab.json
!Testbench/AVR/uart-tb/cmake/uart-tb/default/user.cmake


# vhdl format
!FPGA/.vscode/settings.json


# ghdl
*.ghw
*.cf
