# Quartus
output_files/
db/
simulation/
incremental_db/
**/*.vhd.bak
**/*.qws

# Modelsim
work/
transcript
*.cr.mti
**/sim/*.mpf
**/sim/*.wlf
**/sim/*.jou
**/sim/*.log


# mplab
_build/
cmake/
out/
**/.vscode/*
!Testbench/AVR/uart-tb/.vscode/uart-tb.mplab.json
!FPGA/rtl/.vscode/settings.json
